nav {
	i {
		margin: 15px;
	 	padding: 10px;
	 	background-color: lighten($blue, 20);
	 	@include size(40px);
	 	border: 1px solid #fff;
	 	border-radius: 25%;	
	 	@include position(fixed, 120px 10px null null);
	}
}